/*Colorful letters */

.red {color: #BD472A;}

.golden{color: #FFCD00;}

.green{color: #00664F;}
.greenLight{color: #00AF66;}

.orange{color: #FF8200}

.navy{color: #00558C;}

.blue{color: #00A9E0;}

.gray{color: #63666A;}
.grayLight{color: #BBBCBC;}
